.socials_holder_footer{
    border-top: 0.1vw solid var(--color-black_light);
    border-bottom: 0.1vw solid var(--color-black_light);
}
.copyright{
    background-color: var(--color-extra_dark);
}
.links_holder h5 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: color 0.3s ease; /* Smooth text color transition */
    text-align: left; /* Ensure proper alignment */
}

.links_holder h5::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; /* Start from the left edge of the text */
    width: 0; /* Initially hidden */
    height: 0.3vh; /* Thickness of the underline */
    background-color: var(--color-primary); /* Underline color */
    transition: width 0.3s ease; /* Smooth animation for width */
}

.links_holder h5:hover {
    color: var(--color-primary); /* Change text color on hover */
}

.links_holder h5:hover::after {
    width: 100%; /* Expand the underline to match the text's width */
}

@media(max-width:999px){
    .contact_footer>h4, .footer_logo_holder{
        text-align: left !important;
    }
    .footer_logo_holder{
        justify-content: flex-start !important;
        padding-left: 10vw;
    }
    .footer_content {
        gap: 10vw;
    }
}